<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>index page</h1>
		<%- include('./partials/header.ejs') %>
		<% users.forEach(user => {%>
		<div>
			<a href="/homepage/<%=user._id%>"><%=user.username%></a></br>
            <a href="/homepage/<%=user._id%>"><img class="userImg" src="<%=user.userImg%>%>"></a>
            <a class="name" href="/homepage/<%=user._id%>"></a></br>
		</div>
		<%})%>
</body>
</html>