<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="container">
            <h1><%= user.email %></h1>
            <a href="/homepage">homepage</a>
            <a href="/homepage/<%=user._id%>/new"><button>Add a horse</button></a>
            <ul>
                <h2>Horses: </h2><%for( let i = 0; i < user.horse.length; i++){ %>
                    <li>Name: <%=user.horse[i].horseName%></br>
                        Breed: <%=user.horse[i].breed%></br>
                        Height: <%=user.horse[i].height%></br>
                        Color: <%=user.horse[i].color%></br>
                        Saddle Number: <%=user.horse[i].number%></br>
                        Horseshoe Type: <%=user.horse[i].horseShoe%></br>
                        Jockey's Name: <%=user.horse[i].jockeyName%></br>
                    <img class="horseImage" src="<%=user.horse[i].horseImg%>"></br>
                    <form action="/homepage/<%=user._id%>/<%=user.horse[i]._id%>/edit/">
                        <input type="hidden" value="<%= i %>" name="key"/>
                        <input class="formbutton" type="submit" value="Edit"/>
                    </form>
                    <form action="/homepage/<%=user._id%>/<%=user.horse[i]._id%>/?_method=DELETE" method="POST">
                    <input class="formbutton" type="submit" value="Delete"/>
                    </form>
                    <%}%>
                </li>  
            </ul>
        </div>
    </body>
    </html>